<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/shivamcartlogo"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:largeHeap="false"
        android:roundIcon="@drawable/shivamcartlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShivamsCart">
        <property android:name="android.adservices.AD_SERVICES_CONFIG" android:resource="@xml/ga_ad_services_config" tools:replace="android:resource" />

        <activity
            android:name=".UpcomingProductDetailsActivity"
            android:exported="false" />

        <activity
            android:name=".ChatBotActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".AppliancesActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5928796239739806~4412583769" />

        <activity
            android:name=".Home_Appliances_Activity"
            android:exported="false" />
        <activity
            android:name=".SearchProductsActivity"
            android:exported="false" />
        <activity
            android:name=".ElectronicsActivity"
            android:exported="false" />
        <activity
            android:name=".AboutApp"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OtpAthentication"
            android:exported="false" />
        <activity
            android:name=".SellerActivity"
            android:exported="false" />
        <activity
            android:name=".EditPRofile"
            android:exported="false" />
        <activity
            android:name=".ProductView"
            android:exported="false" />
        <activity
            android:name=".FashionActivity"
            android:exported="false" />
        <activity
            android:name=".AddProuctsActivity"
            android:exported="false" />
        <activity
            android:name=".MobilesActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".SignUp"
            android:exported="false" />

        <receiver
            android:name=".Services.NetworkBroadcast"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".FirebasecloudMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>